// COLORS

// White
$white: #ffffff;
$white-hover: #dddddd;

// Black
$black: #000000;

// Gray
$gray: #d5d5d5;

// Red
$red: #b40000;
$red-hover: #760000;
$red-active: #4a0000;

// Green
$green: #278d82;
$green-hover: #1e6962;
$green-active: #164c47;

// Blue
$blue: #367d91;
$blue-hover: #265967;
$blue-active: #265967;
